<!DOCTYPE html>

<html>
<head>
 <title>Page Title</title>
</head>

<body>
	{% if request.user.is_authenticated %}
<div>
	<ul>
		<br>
		<li>Hello {{ user.get_username}}</li> <br>
		<li> <button><a href="/accounts/logout">LOGOUT</a></button></li>
	</ul>
</div>
<div>
	<h1>Thank You for Updating the Slot.</h1>
	<a href = {% url 'post_login' %}><button> GO BACK </button></a>
	
</div>
<br>
<br>
{% for row in slot_details %}
	{{row.date}}
{% endfor %}
{{slot_date}}
<br>
<br>
{{id}}
{{sem_section}}
{{day_name}}
{{hour_no}}
{{subject_id}}
<a href = {% url 'post_login' %}><button> GO BACK </button></a>
<script>
	getDate()
function getDate() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd = '0'+dd
  } 

  if(mm<10) {
      mm = '0'+mm
  } 

  today = yyyy + '-' + mm + '-' + dd;
  console.log(today);
  document.getElementById("date").value = today;
}

</script>
{% endif %}

</body>
</html>

