<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
 <title>Page Title</title>
</head>

<body>
	{% if request.user.is_authenticated %}
	<nav class="nav nav-fill justify-content-end " style="padding: 10px;font-size: larger;background-color: rgb(229, 230, 227);">
		<p class="nav-link ">{{ user.get_username}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<button class="btn btn-danger" ><a href="/accounts/logout" style="color: white;text-decoration: none;">LOGOUT</a></button>
	</nav>
	<a class="nav-link" href = {% url 'post_login' %} style="text-decoration: none;margin-left: 0px;font-size:50px;width:10px ;">&larr;</a>
	<br>

	<div class = "container" style="font-size: larger;">
		<form method = 'POST' action = {% url 'slot_updated' %}>
			{% csrf_token %}
			<input class = 'mon1' type = 'hidden' name = 'id' value = '{{id}}'/>
			<input class = 'mon1' type = 'hidden' name = 'sem_section' value = '{{sem_section}}'/>
			<input class = 'mon1' type = 'hidden' name = 'day_name' value = '{{day_name}}'/>
			<input class = 'mon1' type = 'hidden' name = 'hour_no' value = '{{hour_no}}'/>
			<input class = 'mon1' type = 'hidden' name = 'subject_id' value = '{{subject_id}}'/>
			<input class = 'mon1' type = 'hidden' name = 'slot_date' value = '{{slot_date}}'/>
	
			<div class="form-group">
				<label for="topic">Topic Discussed</label>
				<input type="text" class="form-control" name= 'topic' value= '' placeholder="Ex: Differential Equations">
			</div>
			<div class="form-group">
			<label>Description</label>
			<textarea name= "description" cols="40" rows="20" placeholder="Enter comments about the topic discussed , if any" class="form-control"></textarea>
			</div>
			<div class ="form-group">
				<label>Date : &nbsp; </label>
				<input id = 'date' type = 'date' name = 'date' value = '' >
			</div>
	
		
			<input class="btn btn-success" type = 'submit' value = 'SUBMIT'/>
		</form>
	</div>
<br>
<br>
<div class="card" style="width: 18rem;margin-top:-30%;margin-left: 4%;">
	<div class="card-header">
	  SLOT DETAILS
	</div>
	<ul class="list-group list-group-flush">
	  <li class="list-group-item">ID : {{id}}</li>
	  <li class="list-group-item">Section : {{sem_section}}</li>
	  <li class="list-group-item">Day : {{day_name}}</li>
	  <li class="list-group-item">Hour : {{hour_no}}</li>
	  <li class="list-group-item">Subject : {{subject_id}}</li>
	</ul>
</div>

<script>
	getDate()
function getDate() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd = '0'+dd
  } 

  if(mm<10) {
      mm = '0'+mm
  } 

  today = yyyy + '-' + mm + '-' + dd;
  console.log(today);
  document.getElementById("date").value = today;
}

</script>
{% endif %}

</body>
</html>

